{% extends "demo/base.html" %}
    {% block content %}
        {% load static %}
			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Esta es mi galería</h2>
							<span></span>
						</div>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
				</div>

	{% endblock %}